nextflow.enable.dsl = 2

docker.enabled = true
docker.pullPolicy = 'never'

params.input = null
params.outdir = null
params.fasta = null
params.gtf = null
params.star_index = null
params.library_type = null
params.featurecounts_feature_type = 'exon'
params.featurecounts_group_type = null
params.parabricks_two_pass_mode = null
params.parabricks_extra_args = null
params.images = [:]

process {
    errorStrategy = 'terminate'
    maxRetries = 0
}
